body.dark-mode {
    background-color: #121212 !important;
    /* почти чёрный фон */
    color: #ffffff !important;
    /* яркий текст */
}

.dark-mode h1,
.dark-mode p,
.dark-mode .main-text {
    color: #ffffff !important;
}

.dark-mode .navbar-brand {
    color: #ffffff !important;
}
